/* EventInfoCard.css */
.event-card {
    position: relative;
    max-width: 90%;
    margin: 20px auto;
    border: 3px solid var(--main-color);
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #F8F4F0;
}

.event-info-list {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.event-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

.event-card__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.event-card__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.event-card__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-card__detail-title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.event-card__detail-title-top-botom {
    font-size: 1.5rem;
}

.event-card__detail-subtitle {
    font-size: 0.9rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}

.event-card__detail-subtitle-top-botom {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.iconImg {
    width: 80px;
}

.iconTopBottom {
    width: 120px;
}


.dresscode-colors {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}

.dresscode-color {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 2rem;

}

/* Responsive: para pantallas pequeñas */
@media (max-width: 480px) {
    .event-card {
        max-width: 90%;
        padding: 15px;
    }

    .event-card__title {
        font-size: 1.3rem;
    }

    .event-card__details {
        display: flex;
        flex-direction: column;
    }

    .event-card__detail-title-top-botom {
        font-size: 1.2rem;
    }

    .event-card__detail-subtitle {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    .event-card__detail-subtitle-top-botom {
        font-size: 1.2rem;
    }

    .dresscode-color {
        width: 50px;
        height: 50px;
    }
}