.footerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-color);
    padding: 4rem 0;
    font-family: 'Courier New', Courier, monospace;
}

.footerContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background-image: url(../../media/canva/flor-grande.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footerMessage {
    font-size: 1.6rem;
    color: #F8F4F0;
    font-weight: 400;
}

.footerName {
    font-size: 1.6rem;
    color: #F8F4F0;
    font-weight: 400;
    margin-top: 3rem;
    width: 100%;
    text-align: end;
    padding: 0 2rem;
}

@media screen and (max-width: 768px) {
    .footerMessage {
        font-size: 1.2rem;
        text-align: center;
    }

    .footerName {
        font-size: 1.4rem;
    }

    
.footerContainer::after {
    width: 130px;
    height: 130px;
}
}